
body {
  max-width: 34em;
  background-color: #F4F4F4;
  --highlight-color: #EEECCC;
  font-family: verdana;
  font-size: small;
  #ai {
    background-color: var(--highlight-color);
  }
}

.page-title {
  font-weight: bold;
  margin: 25px 0px;
}

.date {
  margin: 20px 0px 0px 0px;
}

.book-summary
  .book-cover {
    padding-top: 20px;
  }

  table.book-details {
    border-collapse: collapse;
  }
  td {
    border: 1px solid;
  }

  .book-content
    .chapter {
      padding-top: 40px;
    }
      .title {
        font-weight: bold;
      }
      .strategy {
        padding: 10px 0 0 40px;
        .title {
          padding-left: 20px;
        }
        ul {
          list-style-type: "-";
        }
      }
